@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="col-lg-3 text-right">
    @if (SignInManager.IsSignedIn(User))
    {

        <a class="small btn btn-primary px-4 py-2 rounded-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>


        @*<li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>*@
    }
    else
    {
        <a class="small btn btn-primary px-4 py-2 rounded-0" asp-area="Identity" asp-page="/Account/Register"><span class="icon-users"></span> Register</a>
        <a class="small mr-3" asp-area="Identity" asp-page="/Account/Login"><span class="icon-unlock-alt"></span> Login</a>
    }
</div>
