@model EditExpenseModel
@{
    ViewData["Title"] = "Edit Expense";
}

@section PageStyle
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">

            </div>

            <form class="form-horizontal" asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="ExpenseDate" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="ExpenseDate" class="form-control" id="datepicker" value="@Model.ExpenseDate.ToString("dd/MM/yyyy")" />
                            <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="AccountId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="AccountId" asp-items="@Model.GetAccountList()" class="form-control">
                                <option>Please Select One</option>
                            </select>
                            <span asp-validation-for="AccountId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="CategoryId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="CategoryId" asp-items="@Model.GetCategoryList()" class="form-control">
                                <option>Please Select One</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Amount" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section PageScript
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'dd-mm-yy',
                changeYear: true,
                changeMonth: true
            });
        });

    </script>
}

