@model CreateCategoryModel

@{
    ViewData["Title"] = "Create Category";
}


<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                @*<partial name="_ActionMessage" model="@Model.Response" />*@
            </div>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter Title" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label"></label><br />
                        <input asp-for="ImageFile" accept="image/*" /> <br />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section PageScript 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


